<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/png" href="./logo/logo.png">
    <script src="../components/core/common/button/getButtonAction.js" defer></script>
</head>

<body>
    <!-- 左側の青いライン -->
    <div class="topSidebar", id="menuSideber">
        <script src="../components/model/ScreenMain.js"></script>
    </div>

    <form id="initScreenTopMenu">
        <script src="../components/model/ScreenMain.js"></script>
    </form>
</body>

</html>